@charset "utf-8";

// Import a Google Font
//@import url("https://fonts.googleapis.com/css?family=EB+Garamond&display=swap");

// Set your brand colors
$purple: #8A4D76;
$pink: #FA7C91;
$brown: #757763;
$beige-light: #D0D1CD;
$beige-lighter: #EFF0EB;

// Update Bulma's global variables
//$family-primary: "EB Garamond", serif;
//$grey-dark: $brown;
//$grey-light: $beige-light;
//$primary: $purple;
//$link: $pink;
$widescreen-enabled: false;
$fullhd-enabled: false;

// Update some of Bulma's component variables
//$body-background-color: $beige-lighter;
$control-border-width: 2px;
$input-border-color: transparent;
$input-shadow: none;

#remotestorage-widget {
    right: 0px;
}

/*a {
    text-decoration: none;
   }
*/

/*.tag{
    border: solid 1px #111;
}
*/

$body-background-color:  #f5f5f5 ;
//$link: hsl(246, 50%, 23%) !default;
//$link-invert: #eee !default;
//$link-focus-border: rgb(56, 42, 250) !default;

ion-icon {
    font-size: 24px;
  }

#stickymenu {
    position: -webkit-sticky;
    position: sticky;
    top: 0px;
    z-index: 100;
}

#editor {
    display: flex;
    flex-direction: column;
    padding-top: 20px;
    height: 100%;
}

#editor textarea{
    flex: 1 1 auto;
    //overflow: hidden;
    height: 100%;
    overflow-y: scroll;
    /*max-height: none;*/
}
/*#contenu_editeur {
    resize: none;
    overflow: hidden;
    min-height: 50px;
    max-height: 100px;
}*/

#etiquettes {
    padding-top: 10px;
}

#layout {
    padding:20px;
    height:100vh;
}

html,body,#app,#layout,#note,#main,#conteneur,textarea {
    height:100%;
}
// Import only what you need from Bulma

@import "../node_modules/bulma/sass/utilities/_all.sass";
@import "../node_modules/bulma/sass/base/_all.sass";
/*@import "../node_modules/bulma/sass/elements/button.sass";
@import "../node_modules/bulma/sass/elements/container.sass";
@import "../node_modules/bulma/sass/elements/title.sass";
@import "../node_modules/bulma/sass/elements/content.sass";
@import "../node_modules/bulma/sass/elements/icon.sass";
@import "../node_modules/bulma/sass/elements/box.sass";
@import "../node_modules/bulma/sass/elements/tag.sass";*/
@import "../node_modules/bulma/sass/elements/_all.sass";
@import "../node_modules/bulma/sass/form/_all.sass";
@import "../node_modules/bulma/sass/components/modal.sass";
@import "../node_modules/bulma/sass/layout/section.sass";
@import "../node_modules/bulma/sass/components/level.sass";

@import "../node_modules/bulma/sass/components/dropdown.sass";
@import "../node_modules/bulma/sass/components/menu.sass";
@import "../node_modules/bulma/sass/grid/columns.sass";

@import "../node_modules/bulma/bulma.sass";
@import "../node_modules/bulma-prefers-dark/bulma-prefers-dark.sass";
